.warning-container {
  display: flex;
  align-items: center;
  max-width: 60%;
  background-color: #f91919;
  padding: 10px;
}

.warning-icon {
  margin-right: 10px;
}

.warning-icon {
  color: #ffffff;
}

.warning-content {
  flex-grow: 1;
}

.warning-content p {
  margin: 0;
  color: #ffffff;
}
